<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8"/>
	<script src="js/lib/phaser.min.js"></script>
	<script src="js/lib/phaser-input.min.js"></script>
	<script src="js/lib/phaser-debug.js"></script>
	<script src="js/main/commons.js"></script>
	<script src="js/main/builder/buttons.js"></script>
	<script src="js/main/builder/popups.js"></script>
	<script src="js/main/bulletspawner.js"></script>
	<script src="js/main/weapons.js"></script>
	<script src="js/main/enemies.js"></script>
	<script src="js/main/asteroids.js"></script>
	<script src="js/main/player.js"></script>
	<script src="js/main/spawner.js"></script>
	<script src="js/main/load.js"></script>
	<script src="js/main/menu.js"></script>
	<script src="js/main/shop.js"></script>
	<script src="js/main/leaderboard.js"></script>
	<script src="js/main/main.js"></script>
	<script src="js/main/index.js"></script>
</head>
<body onload="body_onload()">
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1874286382799775',
      xfbml      : true,
      version    : 'v2.8'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
	<h1>Jogo</h1>
	<div id="gameDiv"></div>


<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
</body>
</html>